html {
	width:100%;
	min-height:100%;
	font-family: proxmia:nova;
}

body {
	background-color:#F4E7E7;
	width:100%;
	min-height:100%;
}

canvas {
	background-color:#F4E7E7
	display:block;
}

dl-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index:1;
}

#container {
	position:absolute;
	top: 50px;
	left: 0;
	width: 100%
}

.hidden-list {
	width: 100%;
	z-index:0;
	background-color:#F4E7E7;
}

.center {
	text-align: center;
}

.affirmation-list{
	width: 100%;
	z-index:1;
	position: absolute;
	top: 0;
	background-color:#F4E7E7;
}

.affirmation {
	text-align: center;
}

.my-affirmation {
	background-color: #D4BABA;
}
